
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Pale-blue: #292185;
    --Bright-blue: hsl(245, 75%, 52%);

    --title: 'Red Hat Display', sans-serif;
}

body{
    background:url('./images/pattern-background-mobile.svg') no-repeat;
    background-size:cover;
    background-position:center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title);

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.order{
    margin: 1.75rem 0
}

.order>h1{
    font-weight: 900;
    padding: .75rem;
    
}

.order>p{
    font-size: 1rem;
    color: var(--Desaturated-blue);
    font-weight:500;
}

.container .image-container>img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content-container{
    text-align: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius:  10px;

}

.content-container .content{
    margin: 2rem;
    line-height: 1.5;

}

.offer{
    background:var(--Very-pale-blue);
    border-radius: 10px;
    padding: 1.5rem 0;
    margin: 1.75rem 0;
}

.offer .plan{
    display: flex;
    margin-left: 15px;
}

.offer .plan .description{
    display: inline;
    width: 50%;
    position: relative;
}
.offer .plan .description>h2{
    font-weight: 700;
}

.offer .plan .description>a{
    position: absolute;
    top: 20%;
    right: -50px;
    width: 10%;
    font-size: 18px;
    color: var(--Pale-blue);
 
}


 .btn-primary{
    margin: 1.175rem 0;
    padding: .75rem; 
    background: var(--Bright-blue);
    border-radius: 10px;
    width: 100%;
    transition: .3s ease;
    box-shadow: 5px 10px .5rem rgba(0, 0, 0, 0.199);
    border: none;
    color: var(--Very-pale-blue);
}

.btn-primary:active{
    opacity: .5
}

 

.btn-cancel:active{
    color:var(--Dark-blue);
}

.btn-cancel{
    border:0;
    background-color: transparent;
    color: var(--Desaturated-blue);
    cursor: pointer;
}

.offer .plan .description>span{
    color: var(--Desaturated-blue);
}


.offer .plan .description .link-change:active{
    color: var(--Desaturated-blue);
}

.offer .plan.description .link-change:focus{
    outline:0;
}


@media(min-width: 1440px){
    body{
        background:url("./images/pattern-background-desktop.svg") no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-color: #E0E8FF;
    }

}


